#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --disable-gtk-doc

override_dh_auto_build:
	dh_auto_build
	$(MAKE) doxygen

CFLAGS += -Wall -ansi -Wshadow
# Use soft-float and thumb mode if it is enabled.
CFLAGS += $(if $(findstring thumb,$(DEB_BUILD_OPTIONS)),-mthumb)
